# data is in separate repo:
data/*

!data/sketches
!data/plots

# pdf-Dokumente ausser (ggf.) Bilder
main.pdf

# ueberfluessiger Latex-Output
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.bak

# things that are not plain scripts or plots
*.xcf
*.ipynb
*.ipynb_checkpoints
