# data is in separate repo:
data/*

!data/sketches

# this doesn't seem to work:
!data/plots/**/*.pdf
# i.e. add with `add -f`

# ueberfluessiger Latex-Output
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.toc
*.bak
*.idx
*.pdf

# things that are not plain scripts or plots
*.xcf
*.ipynb
*.ipynb_checkpoints
